@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10%, 40% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  0%, 50% {
    transform: translateX(100%);
    opacity: 0;
  }
  60%, 90% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slide-left {
  animation: slideInLeft 8s ease-in-out infinite;
}

.animate-slide-right {
  animation: slideInRight 8s ease-in-out infinite;
}


/* Width and background of the scrollbar */
::-webkit-scrollbar {
  width: 6px;         /* or height for horizontal scrollbars */
}

/* Track (the background of scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888;    /* Color of the thumb */
  border-radius: 10px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


